<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>edit opening hours</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <h4><strong>Edit Opening Hours</strong> </h4>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Start form -->
            <form action="/editopeninghours" th:action="@{/editopeninghours}" th:object="${venue}" method="post">
                <div>
                    <input type="hidden" th:field="${venue.uid}"/>
                </div>

                <div class="form-group">
                    <label>Monday</label>
                    <input type="time" class="form-control" id="monday" placeholder="Monday" name="monday"  th:value="${monday}">
                </div>
                <div class="form-group">
                    <label>Thuesday</label>
                    <input type="time" class="form-control" name="thuesday" id="thuesday" placeholder="Thuesday" th:value="${thuesday}">
                </div>
                <div class="form-group">
                    <label>Wednesday</label>
                    <input type="time" class="form-control" name="wednesday" id="wednesday" placeholder="Wednesday" th:value="${wednesday}">
                </div>

                <div class="form-group">
                    <label>Thursday</label>
                    <input type="time" class="form-control" name="thursday" id="thursday" placeholder="Thursday" th:value="${thursday}">
                </div>

                <div class="form-group">
                    <label>Friday</label>
                    <input type="time" class="form-control" name="friday" id="friday" placeholder="Friday" th:value="${friday}">
                </div>
                <div class="form-group">
                    <label>Saturday</label>
                    <input type="time" class="form-control" name="saturday" id="saturday" placeholder="Saturday" th:value="${saturday}">
                </div>

                <div class="form-group">
                    <label>Sunday</label>
                    <input type="time" class="form-control" name="sunday" id="sunday" placeholder="Sunday" th:value="${sunday}">
                </div>

                <div class="container">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
            <!-- End form -->
        </div>
    </div>
</div>

</body>
</html>