<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <title>HEJSA!!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <h4 class="page-header">Update "<td th:text="${email}" />" Features:</h4>

    <form th:action="@{/featuresPost}" th:object="${features}" method="Post">

        <div>
            <h5 class="page-header">Type:</h5>

            <input type="checkbox"  th:field="${f.type.bar}" th:value="${type.bar}">
            <label th:text="Bar"></label>

            <input type="checkbox"  th:field="${f.type.nightClub}" th:value="${type.nightClub}">
            <label th:text="NightClub"></label>

            <input type="checkbox"  th:field="${f.type.bodega}" th:value="${type.bodega}">
            <label th:text="Bodega"></label>

            <input type="checkbox"  th:field="${f.type.pub}" th:value="${type.pub}">
            <label th:text="Pub"></label>
        </div>
        <div>
            <h5 class="page-header">Type of venue:</h5>

            <input type="checkbox"  th:field="${f.typeOfVenue.cocktail}" th:value="${typeofvenue.cocktail}">
            <label th:text="Cocktail"></label>

            <input type="checkbox"  th:field="${f.typeOfVenue.sports}" th:value="${typeofvenue.sports}">
            <label th:text="Sports"></label>

            <input type="checkbox"  th:field="${f.typeOfVenue.pool}" th:value="${typeofvenue.pool}">
            <label th:text="Pool"></label>

            <input type="checkbox"  th:field="${f.typeOfVenue.games}" th:value="${typeofvenue.games}">
            <label th:text="Games"></label>

            <input type="checkbox"  th:field="${f.typeOfVenue.beer}" th:value="${typeofvenue.beer}">
            <label th:text="Beer"></label>

            <input type="checkbox"  th:field="${f.typeOfVenue.champagne}" th:value="${typeofvenue.champagne}">
            <label th:text="Champagne"></label>

            <input type="checkbox"  th:field="${f.typeOfVenue.wine}" th:value="${typeofvenue.wine}">
            <label th:text="Wine"></label>

            <input type="checkbox"  th:field="${f.typeOfVenue.stripClub}" th:value="${typeofvenue.stripClub}">
            <label th:text="Stripclub"></label>

            <input type="checkbox"  th:field="${f.typeOfVenue.karaoke}" th:value="${typeofvenue.karaoke}">
            <label th:text="Karaoke"></label>
        </div>
        <div>
            <h5 class="page-header">Activities:</h5>

            <input type="checkbox"  th:field="${f.activities.turnaments}" th:value="${activities.turnaments}">
            <label th:text="Turnaments"></label>

            <input type="checkbox"  th:field="${f.activities.dices}" th:value="${activities.dices}">
            <label th:text="Dices"></label>

            <input type="checkbox"  th:field="${f.activities.dart}" th:value="${activities.dart}">
            <label th:text="Dart"></label>

            <input type="checkbox"  th:field="${f.activities.billard}" th:value="${activities.billard}">
            <label th:text="Billard"></label>

            <input type="checkbox"  th:field="${f.activities.snooker}" th:value="${activities.snooker}">
            <label th:text="Snooker"></label>

            <input type="checkbox"  th:field="${f.activities.carambole}" th:value="${activities.carambole}">
            <label th:text="Carambole"></label>

            <input type="checkbox"  th:field="${f.activities.tableFootball}" th:value="${activities.tableFootball}">
            <label th:text="Tablefootball"></label>

            <input type="checkbox"  th:field="${f.activities.beerPong}" th:value="${activities.beerPong}">
            <label th:text="Beerpong"></label>

            <input type="checkbox"  th:field="${f.activities.shuffleboard}" th:value="${activities.shuffleboard}">
            <label th:text="Shuffleboard"></label>

            <input type="checkbox"  th:field="${f.activities.boardGames}" th:value="${activities.boardGames}">
            <label th:text="Boardgames"></label>

            <input type="checkbox"  th:field="${f.activities.tableTennis}" th:value="${activities.tableTennis}">
            <label th:text="Tabletennis"></label>

            <input type="checkbox"  th:field="${f.activities.boxingGame}" th:value="${activities.boxingGame}">
            <label th:text="Boxinggame"></label>

            <input type="checkbox"  th:field="${f.activities.slotMachines}" th:value="${activities.slotMachines}">
            <label th:text="Slotmachines"></label>

            <input type="checkbox"  th:field="${f.activities.airHockey}" th:value="${activities.airHockey}">
            <label th:text="Airhockey"></label>

            <input type="checkbox"  th:field="${f.activities.simulator}" th:value="${activities.simulator}">
            <label th:text="Simulator"></label>

            <input type="checkbox"  th:field="${f.activities.quiz}" th:value="${activities.quiz}">
            <label th:text="Quiz"></label>
        </div>
        <div>
            <h5 class="page-header">Smoking:</h5>

            <input type="checkbox"  th:field="${f.smoking.allowedIndoor}" th:value="${smoking.allowedIndoor}">
            <label th:text="allowedIndoor"></label>

            <input type="checkbox"  th:field="${f.smoking.areIndoor}" th:value="${smoking.areIndoor}">
            <label th:text="areIndoor"></label>

            <input type="checkbox"  th:field="${f.smoking.notAllowed}" th:value="${smoking.notAllowed}">
            <label th:text="notAllowed"></label>

            <input type="checkbox"  th:field="${f.smoking.privateAreaOutdoor}" th:value="${smoking.privateAreaOutdoor}">
            <label th:text="privateAreaOutdoor"></label>
        </div>
        <div>
            <h5 class="page-header">Facility type:</h5>

            <input type="checkbox"  th:field="${f.facilityType.danceFloor}" th:value="${facilityType.danceFloor}">
            <label th:text="danceFloor"></label>

            <input type="checkbox"  th:field="${f.facilityType.vipArea}" th:value="${facilityType.vipArea}">
            <label th:text="vipArea"></label>

            <input type="checkbox"  th:field="${f.facilityType.tableReservation}" th:value="${facilityType.tableReservation}">
            <label th:text="tableReservation"></label>

            <input type="checkbox"  th:field="${f.facilityType.wardrobe}" th:value="${facilityType.wardrobe}">
            <label th:text="wardrobe"></label>

            <input type="checkbox"  th:field="${f.facilityType.handicapFriendly}" th:value="${facilityType.handicapFriendly}">
            <label th:text="handicapFriendly"></label>
            <input type="checkbox"  th:field="${f.facilityType.tableDancing}" th:value="${facilityType.tableDancing}">

            <label th:text="tableDancing"></label>
            <input type="checkbox"  th:field="${f.facilityType.podium}" th:value="${facilityType.podium}">
            <label th:text="podium"></label>

            <input type="checkbox"  th:field="${f.facilityType.karaoke}" th:value="${facilityType.karaoke}">
            <label th:text="karaoke"></label>

            <input type="checkbox"  th:field="${f.facilityType.swimmingPool}" th:value="${facilityType.swimmingPool}">
            <label th:text="swimmingPool"></label>
        </div>
        <div>
            <h5 class="page-header">Sound style:</h5>

            <input type="checkbox"  th:field="${f.soundStyle.live}" th:value="${soundStyle.live}">
            <label th:text="live"></label>

            <input type="checkbox"  th:field="${f.soundStyle.dj}" th:value="${soundStyle.dj}">
            <label th:text="dj"></label>

            <input type="checkbox"  th:field="${f.soundStyle.jukeBox}" th:value="${soundStyle.jukeBox}">
            <label th:text="jukeBox"></label>

            <input type="checkbox"  th:field="${f.soundStyle.playlist}" th:value="${soundStyle.playlist}">
            <label th:text="playlist"></label>
        </div>
        <div>
            <h5 class="page-header">Music style:</h5>

            <input type="checkbox"  th:field="${f.musicStyle.blues}" th:value="${musicStyle.blues}">
            <label th:text="blues"></label>

            <input type="checkbox"  th:field="${f.musicStyle.jazz}" th:value="${musicStyle.jazz}">
            <label th:text="jazz"></label>

            <input type="checkbox"  th:field="${f.musicStyle.electro}" th:value="${musicStyle.electro}">
            <label th:text="electro"></label>

            <input type="checkbox"  th:field="${f.musicStyle.techno}" th:value="${musicStyle.techno}">
            <label th:text="techno"></label>

            <input type="checkbox"  th:field="${f.musicStyle.house}" th:value="${musicStyle.house}">
            <label th:text="house"></label>

            <input type="checkbox"  th:field="${f.musicStyle.rap}" th:value="${musicStyle.rap}">
            <label th:text="rap"></label>

            <input type="checkbox"  th:field="${f.musicStyle.rock}" th:value="${musicStyle.rock}">
            <label th:text="rock"></label>

            <input type="checkbox"  th:field="${f.musicStyle.pop}" th:value="${musicStyle.pop}">
            <label th:text="pop"></label>

            <input type="checkbox"  th:field="${f.musicStyle.hipHop}" th:value="${musicStyle.hipHop}">
            <label th:text="hipHop"></label>

            <input type="checkbox"  th:field="${f.musicStyle.funk}" th:value="${musicStyle.funk}">
            <label th:text="funk"></label>

            <input type="checkbox"  th:field="${f.musicStyle.country}" th:value="${musicStyle.country}">
            <label th:text="country"></label>

            <input type="checkbox"  th:field="${f.musicStyle.rnB}" th:value="${musicStyle.rnB}">
            <label th:text="rnB"></label>

            <input type="checkbox"  th:field="${f.musicStyle.latino}" th:value="${musicStyle.latino}">
            <label th:text="latino"></label>

            <input type="checkbox"  th:field="${f.musicStyle.soul}" th:value="${musicStyle.soul}">
            <label th:text="soul"></label>

            <input type="checkbox"  th:field="${f.musicStyle.punk}" th:value="${musicStyle.punk}">
            <label th:text="punk"></label>

            <input type="checkbox"  th:field="${f.musicStyle.metal}" th:value="${musicStyle.metal}">
            <label th:text="metal"></label>
        </div>
        <div>
            <h5 class="page-header">Beverage:</h5>

            <input type="checkbox"  th:field="${f.beverage.beer}" th:value="${beverage.beer}">
            <label th:text="beer"></label>

            <input type="checkbox"  th:field="${f.beverage.specialBeer}" th:value="${beverage.specialBeer}">
            <label th:text="specialBeer"></label>

            <input type="checkbox"  th:field="${f.beverage.simpleDrinks}" th:value="${beverage.simpleDrinks}">
            <label th:text="simpleDrinks"></label>


            <input type="checkbox"  th:field="${f.beverage.longDrinks}" th:value="${beverage.longDrinks}">
            <label th:text="longDrinks"></label>

            <input type="checkbox"  th:field="${f.beverage.cocktails}" th:value="${beverage.cocktails}">
            <label th:text="cocktails"></label>

            <input type="checkbox"  th:field="${f.beverage.specialCocktails}" th:value="${beverage.specialCocktails}">
            <label th:text="specialCocktails"></label>

            <input type="checkbox"  th:field="${f.beverage.champagne}" th:value="${beverage.champagne}">
            <label th:text="champagne"></label>

            <input type="checkbox"  th:field="${f.beverage.licour}" th:value="${beverage.licour}">
            <label th:text="licour"></label>

            <input type="checkbox"  th:field="${f.beverage.specialLicour}" th:value="${beverage.specialLicour}">
            <label th:text="specialLicour"></label>
        </div>
        <div>
            <h5 class="page-header">Food options:</h5>

            <input type="checkbox"  th:field="${f.foodOptions.snacks}" th:value="${foodOptions.snacks}">
            <label th:text="snacks"></label>

            <input type="checkbox"  th:field="${f.foodOptions.fastfood}" th:value="${foodOptions.fastfood}">
            <label th:text="fastfood"></label>

            <input type="checkbox"  th:field="${f.foodOptions.alaCarte}" th:value="${foodOptions.alaCarte}">
            <label th:text="alaCarte"></label>
        </div>
        <div>
            <h5 class="page-header">Dress code:</h5>

            <input type="checkbox"
                   th:name="${casual}"
                   th:field="${dressCode.casual}"
                   th:value="${dressCode}">
            <label th:text="casual"></label>

            <input type="checkbox"
                   th:name="${fashionable}"
                   th:field="${dressCode.fashionable}"
                   th:value="${dressCode}">
            <label th:text="fashionable"></label>

            <input type="checkbox"
                   th:name="${classy}"
                   th:field="${f.dressCode.classy}"
                   th:value="${dressCode}">
            <label th:text="classy"></label>

            <!--th:field="${f.dressCode.extravagant}"-->

            <input type="checkbox"

                   th:value="${dressCode.extravagant}"
                    />
            <label th:text="extravagant"></label>
        </div>
        <br>
        <div>
            <h5 class="page-header">Confirm changes:</h5>
            <input type="checkbox" th:field="${f.email}" th:value="${email}">
        </div>
        <br>
        <div>

            <input class="btn btn-primary" type="submit" th:value="Submit"/>

        </div>

    </form>



</div>
</body>
</html>