<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!-- Navbar -->
<div class="w3-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/docs/4.0/assets/brand/bootstrap-solid.svg"
                 width="30"
                 height="30"
                 class="d-inline-block align-top"
                 alt="">
            NightOut
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                ria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active"
                   href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link"
                   th:href="${'features'}">Features</a>
                <a class="nav-item nav-link" style="position: absolute; right: 200px;"
                   th:href="${'logout'}">Logout</a>
            </div>
        </div>
    </nav>
</div>
<br><br>

<div class="container">
    <tr th:each="venue: ${venueData}">
        <h5 class="page-header">Details: <td th:text="${venue.name}" /> Venue</h5>
        <table class="table table-striped table-bordered table-hover">

            <thead>
            <tr>
                <th>Name</th>
                <th>email</th>
                <th>Street Name</th>
                <th>Street Number</th>
                <th>City</th>
                <th>Postal Code</th>
                <th>Phone Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data: ${venueData}">
                <td th:text="${data.name}"/>
                <td th:text="${data.email}"/>
                <td th:text="${data.streetName}"/>
                <td th:text="${data.streetNumber}"/>
                <td th:text="${data.city}"/>
                <td th:text="${data.postalCode}"/>
                <td th:text="${data.phoneNumber}"/>
            </tr>
            </tbody>
        </table>
</div>
<div class="container">
    <form action="/editopeninghours" th:action="@{/editopeninghours}" th:object="${venue}" method="post">

        <tr th:each="venue: ${venueData}">
            <h5 class="page-header">Opening Hours:</h5>
            <table class="table table-striped table-bordered table-hover" th:each="data: ${venueData}">

                <thead>
                <tr>
                    <th>Monday</th>
                    <th>Thuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td th:text="${data.monday}">
                    <td th:text="${data.thuesday}">
                    <td th:text="${data.wednesday}">
                    <td th:text="${data.thursday}">
                    <td th:text="${data.friday}">
                    <td th:text="${data.saturday}">
                    <td th:text="${data.sunday}">
                    <td>

                        <a class="glyphicon glyphicon-cog" title="edit" th:href="@{'editopeninghours/' + ${data.uid}}">
                            <!--<button class="btn btn-warning glyphicon glyphicon-pencil">edit</button>-->
                        </a>

                    </td>
                        <tr>
                            <td th:text="${data.mondayClose}">
                            <td th:text="${data.thuesdayClose}">
                            <td th:text="${data.wednesdayClose}">
                            <td th:text="${data.thursdayClose}">
                            <td th:text="${data.fridayClose}">
                            <td th:text="${data.saturdayClose}">
                            <td th:text="${data.sundayClose}">
                        </tr>
                </tr>
                </tbody>
            </table>
        </tr>
    </form>

</div>

<div class="container">
    <h5 class="page-header">News:</h5>

    <table class="table table-striped table-bordered table-hover">
        <tr th:each="n: ${news}">
            <td th:text="${n.title}">
            <td th:text="${n.info}">
        </tr>
    </table>
</div>

<div class="container">
    <h5 class="page-header">Upload Picture:</h5>

    <form class="md-form" th:action="@{/uploadproductimage}" enctype="multipart/form-data" method="post" th:object="${pictures}">
        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Choose Image (Max size 1MB)</span>
                <br>
                <input type="file" name="fileName" id="i_file">
            </div>
        </div>
            <br><br>
            <button class="btn btn-primary" type="submit" id="i_submit">Upload</button>
            <div class="file-path-wrapper"></div>

    </form>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>

            <!--th>Id</th-->
            <th>Image</th>
            <!--th>Delete</th-->

        </tr>
        </thead>
        <tbody>
        <tr th:each="fetchpictures: ${pics}">


            <!--td th:text="${fetchpictures.id}"/-->
            <td><img th:src="${fetchpictures.image}" style="width:20%"></img></td>
            <td>

                <a class="glyphicon glyphicon-remove" th:href="${'deletepic'}" onclick="return confirmDelete()">
                    <!--<button class="btn btn-info glyphicon glyphicon-cog">details</button>-->

                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>



<!-- Footer -->
<div class="container">
    <footer id="footer" class="w3-container w3-padding-32 w3-light-grey w3-center">
        <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">Night Out</a></p>
    </footer>
</div>


<script>
    $('#i_submit').click( function() {
        //check whether browser fully supports all File API
        if (window.File && window.FileReader && window.FileList && window.Blob)
        {
            //get the file size and file type from file input field
            var fsize = $('#i_file')[0].files[0].size;
            var ftype = $('#i_file')[0].files[0].type;

            switch(ftype)
            {
                case 'image/png':
                case 'image/gif':
                case 'image/jpeg':
                case 'image/pjpeg':
                    break;
                default:
                    alert('Unsupported File!');
                    event.preventDefault();
            }

            if(fsize>1048576) //do something if file size more than 1 mb (1048576)
            {
                var new_num = fsize.toFixed(1)/1000000;
                var imageSize = new_num.toFixed(1)
                alert(imageSize +" MB\nImage Size must be below 1MB!");
                event.preventDefault();
            }
        }else{
            alert("Please upgrade your browser, because your current browser lacks some new features we need!");
        }
    });

    function confirmDelete() {
        if (confirm("Delete Picture?") == true) {
            return true;
        } else {
            return false;
        }
    }

</script>

</body>
</html>