<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Login Form</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

<div class="container">
    <div class="row">
        <h4 >Login -- Night out</h4>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Start form -->
                    <p th:if="${loginError}" th:text="${loginError}">No error</p>
                    <form action="/" th:action="@{/}" th:object="${venue}" method="post">
                        <div class="form-group name1 col-md-3">
                            <label>Email address</label>
                            <input type="email" class="form-control" id="userId" aria-describedby="emailHelp" placeholder="Enter Email" name="email"  th:value="${email}">
                        </div>
                        <div class="form-group name1 col-md-3">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" th:value="${password}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
            <!-- End form -->
        </div>
    </div>
</div>

</body>

</html>